[Unit]
Description=OpenRailwayMap tileserver
Requires=postgresql-9.6.service
After=postgresql-9.6.service

[Service]
ExecStart=/usr/bin/node @@TILESERVER_BASEDIR@@/tileserver.js
WorkingDirectory=@@TILESERVER_BASEDIR@@
Restart=always
RestartSec=10s
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=orm-tileserver
User=@@ORM_USER@@
Group=@@ORM_GROUP@@

[Install]
WantedBy=multi-user.target
